:root {
  font-size: 16px;

  --bs-danger: #96e6b3;
  --bs-danger-rgb: 150, 230, 179;
}

/* Per lo spacing */
/* 
1 -> val * 0.25
2 -> val * 0.5
3 -> font-size dentro la root
4 -> val * 1.5
5 -> val * 3
*/

/* Per il testo, i numeri sono decrescenti */

.box {
  width: 100px;
  height: 100px;
  background: red;
}
